<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atinity.doct">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.example.towntour.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/doct_iconbig"
        android:label="@string/app_name"
        android:roundIcon="@drawable/doct_iconbig"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocT"
        android:usesCleartextTraffic="true">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTgMus79P55q6sQj9rXryXbD7mG_60WJQ" />

        <activity
            android:name=".MapsActivity_6"
            android:exported="false"
            android:label="@string/title_activity_maps6" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarouselActivity_1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity_4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity_3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity_5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity_0"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".P_D_Select_Activity_2"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>